# Node.js dependencies
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Build files
dist/
build/

# Environment variables
.env

# Logs and system files
*.log
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/
